{% extends "theme.html" %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm">
      <h1 class="mb-3"> Welcome to the Movies API v1.0</h1>
      <hr />
      <h2> This API allows the following request types </h2>
      <ul>
        <li>[GET] Get All Movies: <a href="{{ url_for('get_movies') }}">{{ url_for('get_movies') }}</a></li>
        <li>[GET] Get A Single Movie: </li>
        <li>[POST] Add A Movie: </li>
        <li>[PUT] Update A Movie: </li>
        <li>[DELETE] Delete A Movie: </li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}